---
---
// External
@import 'external/reset';
@import 'external/solarized-dark';

// Base
@import 'base/variables';
@import 'base/global';
@import 'base/utility';

// Posts
@import 'layouts/posts';
@import 'layouts/index';

// Partials
@import 'includes/header';
@import 'includes/footer';


.video-container {
    position: relative;
    width: 100%;
    height: 0; }

.video-container iframe {
    position: absolute;
    width: 100%;
    height: 100%; }

